@using Blazemoji.Layout;
@using Microsoft.JSInterop;
@using MudBlazor
@inject IJSRuntime _jsRuntime
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h4">🔥 Blazemoji</MudText>
        <MudSpacer />
        @if(_isDarkMode)
        {
            <MudTooltip Text="Light Mode">
                <MudIconButton Icon="@Icons.Material.Outlined.LightMode" Color="Color.Inherit" OnClick="ToggleDarkMode" />
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Dark Mode">
                <MudIconButton Icon="@Icons.Material.Outlined.DarkMode" Color="Color.Inherit" OnClick="ToggleDarkMode" />
            </MudTooltip>
        }
        <MudTooltip Text="Settings">
            <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
        </MudTooltip>
    </MudAppBar>
    <MudMainContent>
        <CascadingValue Name="DarkMode" Value="@_isDarkMode">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code {
    private MudTheme _theme = new Theme();
    private bool _isDarkMode = false;
    private string _themeIcon = Icons.Material.Outlined.LightMode;
    private MudThemeProvider _mudThemeProvider = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var darkMode = await _mudThemeProvider.GetSystemPreference();
            if (darkMode)
            {
                await ToggleDarkMode();
            }

            StateHasChanged();
        }
    }

    private async Task ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        if(_isDarkMode)
        {
            await BlazorMonaco.Editor.Global.SetTheme(_jsRuntime, "vs-dark");
        }
        else
        {
            await BlazorMonaco.Editor.Global.SetTheme(_jsRuntime, "vs");
        }
    }
}